* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100vw;
    /* min-height: 100vh; */
    background: url(dinesh_mma.png) center center / cover fixed no-repeat;
    /* background-image: url(dinesh_mma.png); */
    /* background-position:center;
    background-size: fill;
    background-repeat: no-repeat; */
    /* width: 100vw; */
    /* background-image: url(dinesh_mma.png);
    background-position: center; */


}

nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.949);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.563);
}
.image-slideshow {
    /* display: none; */
    height: 90vh;
    width: 100%;
    /* background-color: transparent; */
    /* border: 5px solid white; */
    overflow: hidden;
    box-sizing: border-box;
}
.image-slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.info{
    background-color: white;
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info h1{
    /* background-color: red; */
    font-size: 80px;
}
.info .para{
    padding: 20px 15vw;
    font-size: 1.9rem;
    /* background-color: #1c96e8; */
}
ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: white; */

}
ul li{
    list-style-type:none;
    width: 100px;
    height:40px;
    background-color: red;
    border-radius: 20px;
}
ul li:hover{
    cursor: pointer;
    background-color: green;
}
.slogan{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rosybrown; */
    /* background-color: transparent; */
    /* background-color: #1c96e88a; */
}
.slogan p{
    max-width: 50%;
    font-size: 50px;
    color: white;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(255, 0, 0);
}

.videos{
    width: 100%;
    
    background-color: white;
    padding: 2% 5%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;

}
.vid{
    background-color: red;
    border: 2px solid black;
    width: 55vh;
    height: 35vh;
    margin: 40px;
}

@media only screen and (max-width: 1400px) {
    .vid {
      background-color: yellow;
      width: 70vh;
      height: 50vh;
    }
  }
  footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(30, 92, 113);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;

  }

  .rights{
    /* background-color: blue; */
    width: 400px;
    
}
.rights p{
    font-size: 30px;
      color: rgb(210, 210, 210);

  }
  .social{
    /* background-color: rgb(34, 255, 0); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
  }

  .social svg{
    margin-left: 20px;
    padding: 1px;
    background-color: white;
    border-radius: 50%;
    /* background-color: rgb(30, 92, 113); */
    fill: rgb(30, 92, 113);;
  }

  .social svg:hover{
    
    cursor: pointer;
    padding: 0px;
    background-color: #1c96e8;
    fill: white;
  }